.wrapper {
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column;	
	background-color: silver;	
}

.container {

	max-width: 980px;
	margin:0px auto;
	align-self: center;
	align-content: center;
	justify-content: center;


}

.three-block {
	display: flex;
	background-color: tomato;
	height: 80%;
	width: 80%;
	margin: 0px 0px 30px 0px;
}

.three-block_row {
	display: flex;
	margin:  0px -15px;
}

.three-block_item {
	width: 370px;
	background-color: #18b5a4;
	padding: 15px;	
}

.three-block_image {
	padding: 0px 0px 58% 0px;	
	background-color: #ece89d;
	margin-bottom: 10px;

}

body {
	min-width: 980px;
}
